<div id="login-screen"
            class="h-full w-full flex items-center justify-center p-6 hidden bg-slate-50 absolute inset-0 z-[60]">
            <div
                class="bg-white p-8 rounded-3xl shadow-xl w-full max-w-sm border border-slate-100 fade-in">
                <div class="text-center mb-8">
                    <div
                        class="w-14 h-14 bg-blue-950 rounded-2xl mx-auto flex items-center justify-center shadow-lg text-white text-xl mb-3"><i
                            class="fas fa-cubes"></i></div>